/*
* @Author: lenovo
* @Date:   2017-10-11 21:26:31
* @Last Modified by:   lenovo
* @Last Modified time: 2017-10-12 16:38:33
*/
*{
	margin: 0 ;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: "微软雅黑"，san-serif；
}
a{
	text-decoration: none;
}
boby{
	background: #ffffff;
}
img{
	border: 0;

}